th,td {
        border: 1px solid rgb(13, 14, 7);
        border-collapse: collapse;
        padding: 11px;
        text-align: center;


    }
    th{        background-color: bisque;
        color: rgb(14, 13, 6);}
table{
    
        border-collapse: collapse; 
}